@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Honey';
    src: url('assets/font/honey/HoneyScript-SemiBold.ttf');
}

*:focus-visible {
    outline: none;
}

html, body {
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
