@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Honey';
    src: url('assets/font/honey/HoneyScript-SemiBold.ttf');
}

*:focus-visible {
    outline: none;
}